<!DOCTYPE html>
<html lang="en">
<head>
    <!-- path の設定の仕方がバージョンによってちがう。。 -->
    <%- include('./partials/header'); %>

</head>
<body>
        
<div class="container">



<div class="" style="color:#fff; margin-top: 40px;">
        <h2>単語帳</h2>
        <form target="/search" method="POST" class="card card-body" style="padding: 0; border: none;">

            <div  class="input-group" >
                <input type="text" name="searchinput" class="form-control">
                <span class="input-group-btn">
                  <button class="btn btn-secondary" type="submit">検索</button>
                </span>
            </div>
         
         </form>

         <div class="touroku">
            <a href="/new-entry" id="tourokugamen" class="btn btn-primary">
                登録画面へ戻る
        </a>
        </div>        
    

</div>
    
    <div class="row">            
            <% books.forEach(function (book){ %>    
    <div class="col-md-12">        
                <div class="card">
                    <div class="card-header">
                        <label><h2><b> 
                        <input name = "palabra" value = "<%= book.tango %>" >
            
                        <input value="<%= book. significado %>" >
                        </b></h2></label>
                       </div>
                  
                    <div class="card-body">
                        <label>使い方 例:</label>                    
                          <h1 class="frase" style="margin: 15px;"> <input value="「<%= book. uso %>」" disabled> </h1> 
                    </div>
                    <div class="card-body">
                        <label>カテゴリ:
                            <input  value="<%= book.categoria %>" disabled> </label></BR>
                             
                        <label> 関連ワード: <input value="<%= book.relation %>" disabled> </label>
                             
                    </div>
       
                    <div class="card-body">   
                        <a href="/editar/<%= book.id %>" class="btn btn-success"　style="margin-left:0px;">編集</a>
                   
                        <a href="/save/<%= book.id %>" class="btn btn-warning"　style="margin-left:0px;">保存</a>
                        
                        <a href="/delete/<%= book.id %>" class="btn btn-danger" style="margin-left:0px;">削除</a>
                    
                    </div>    

                </div>    
        <!-- </div> -->
    </div>
    <% })%>      
    </div>    

</div>
        
</body>
</html>